<%= form_for([post, comment]) do |f| %>
  <div class="field">
    <%= f.label :commenter %>
    <%= f.text_area :commenter %>
  </div>

  <div class="field">
    <%= f.label :ccontent %>
    <%= f.text_area :ccontent %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
