<p id="notice"><%= notice %></p>

<h1>
  <!--strong>タイトル</strong-->
  <%= @post.title %>
</h1>
<!--h2>
  <strong>本文</strong>
</h2-->
<p>
  <%= @post.content %>
</p>

<%= link_to 'この記事を編集する', edit_post_path(@post) %>
<%= link_to 'この記事を削除する', @post, method: :delete, data: { confirm: '本当に削除しますか?' } %>

<h2>この記事に対するコメント</h2>
<% if @post.comments.any? %>
  <% @post.comments.each do |comment| %>
    <h3><%= comment.commenter %></h3>
    <p><%= comment.ccontent %></p>
    <%= link_to 'このコメントを編集する', edit_post_comment_path(@post, comment) %>
    <%= link_to 'このコメントを削除する', post_comment_path(@post, comment), method: :delete, data: { confirm: '本当に削除しますか?' } %>
  <% end %>
<% else %>
  <p>まだコメントはありません</p>
<% end %>
<h3>コメントを投稿する</h3>
<%= render 'comments/form', {post: @post, comment: @comment} %>

<%= link_to '記事一覧へ', posts_path %>
